<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<a href="/">На главную</a>
<h1>Задача</h1>

<form action="/articles/add/" method="post">
    {% csrf_token %}
   
    <label>Название:</label><br/>
    <input type="text" name="title"/><br/>
   
    <label>Описание:</label><br/>
    <textarea name="text"></textarea><br/>
   
    <label>Афтор:</label><br/>
    <input type="text" name="author"/><br/>

    <label>Срок:</label><br/>
    <input type="date" name="created_at"/><br/>

    <label for="id-status">Статус:</label><br/>
    <select name="status" id="id-status">
        {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select><br/>

    <br/>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>
